name: Release
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install build backend
      run: pip install hatch
    - name: Build
      run: hatch build -t wheel
    - name: Debug list files
      run: ls -la dist/
    - name: Publish
      uses: softprops/action-gh-release@v1
      with:
        files: dist/ad_carbon_calculation_framework-*.whl
        draft: ${{ github.event_name == 'workflow_dispatch' }}
